
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$open-sans-semibold: "Open Sans - Semibold";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white: #ffffff;
$blue: #37517e;
$light-blue: #54d0ff;
$dark-blue: #2e4369;
$mid-blue: #3b5998;
$dark-grey: #323336;
$grey: #858f94;
$light-grey: #d3d4d5;
$orange: #e19126;
$green: #2ed06e;
$red: #ec1a2e;
