// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.content-container{
    width: 100%;
    max-width: 1156px;
    margin: 0 auto !important;
}

span {
    font-family: $open-sans-semibold;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-info {
    background-color: $light-blue;
}

.btn-warning {
    background-color: $orange;
}

a.link {
    color: $light-blue;
    text-decoration: underline;
}

.fa-times {
    color: $grey;
    font-size: 16px;
    cursor: pointer;
}

.with-container {
    background-color: $white;
    border-radius: 4px;
    padding: 10px;; 
}

.breadcrumbs {
    color: $grey;
    font-size: 11px;

    .fa {
        font-size: 11px;
    }

    .fa-chevron-right {
        padding: 0 8px;
    }
}

h3 {
    margin: 27px 0 18px 0;
    text-align: center;

    span {
        color: $green;
    }
}

.sub-text {
    font-size: 12px;
    color: $light-grey;
    text-align: center;
    font-family: "Open Sans";
}

.sup-text {
    position: absolute;
    top: -20px;
    color: $white;
    font-size: 13px;
}

.text {
    font-family: "Open Sans";
    margin: 21px 15% 30px;
    color: $grey;
    text-align: center;
}

button.btn {
    margin-right: 10px;
    color: $white;
    padding: 11px;
    min-width: 172px;

    &:hover {
        color: $white;
    }
}

.main-section {
    background-color: $white;
    border-radius: 4px;
    position: relative;

    .exchange-value {
        text-align: center;
        font-family: "Open Sans";
        color: $blue;
    }


    .text {
        margin: 40px 0 25px 0;
    }

    h4 {
        font-family: $open-sans-semibold;
        color: $blue;
    }

    .fa-bars {
        right: 10px;
        top: 10px;
        padding: 10px;

        font-size: 16px;
        border: 1px solid $light-grey;
        border-radius: 4px;
        color: $blue;
    }
}
