@import "variables";

.contact-nav{
    box-sizing: border-box;
    margin: 2em 0;
    .btn{
        max-width: 122px !important;
        min-width: 50px;
    }
    .btn-embed{
        max-width: 45%;
        
        margin-left: -22px;
        
        background-color: $dark-blue;
    }

    .btn-f{
        background-color: $mid-blue;
    }

    .btn-t{
        background-color: $light-blue;
    }

    .btn-w{
        background-color: $orange;
        i{
            transform: rotate(45deg);
        }
    }
    
    span{
        line-height: 50px;
        padding: 0 20px;
    }

    @media screen and (max-width: 576px){
        .btn{
            margin-right: 5px;
        }

        .btn-embed{
            margin-right: 0px;
        }
    }

    @media screen and (max-width: 720px) {
        .btn-embed{
            margin-left: 0;
    
            background-color: $dark-blue;
        }

        .btn{
                max-height: 50px;
        }
    }
}

.currency-list{
    margin-top: 5px;

    padding-top: 2em;
    padding-bottom: 2em;
    .list-from{
        margin-right: 0px;
    }
    

    @media (max-width: 576px){
        .table-from{
            margin-top: 2.7em;
        }

        td{
            padding: 0 2em;
        }
    }
    @media only screen and (min-width: 576px){
        .list-from{
            margin-right: 20px;
        }
    }
}

.currency-table{
    width: 100%;
    max-width: 100%;

    text-align: left;
    thead{
        tr{
            line-height: 45px;
            background-color: #f2f5f7;
        }
    }
    tbody{
        tr{
            line-height: 45px;
            &:nth-child(2n){
                background-color: #fafbfc;
            }
            .from-currency{
                color: $light-blue;
                border-bottom: 1px solid $light-blue;
            }
        }
    }
}