@import "variables";

.footer {
    width: 100%;
    min-height: 66px;
    padding: 35px 0;
    margin: 0;

    background-color: $blue;
}

.logo-container {
    width: 177px;
    height: 36px;
    background-image: url(../../images/logo.png);
}

i {
    display: flex;
    align-content: center;
    justify-content: center;

    border-radius: 50%;

    font-size: 20px;
    background-color: $white;
    color: $mid-blue
}

.social {
    padding-top: 13px;
    i {
        display: flex;
        align-items: center;

        margin: 0 2px;
        width: 39px;
        height: 39px;
        cursor: pointer;
    }
}

.lang-dd {
    width: 192px;
    height: 47px;
    padding: 9px 21px 6px 23px;

    color: $white;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    background-color: $dark-blue;
}

.info-navbar {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
        padding: 0 10px;
        border-right: 1px solid $mid-grey;

        a {
            color: $white;
            font-size: 13px;
            font-weight: 300;
            font-family: "Open Sans";
            text-decoration: none;
        }

        &:first-child {
            padding-left: 24px;
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
    }
}

.copyrights {
    padding-top: 10px;
    color: $mid-grey;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}
