@import "variables";

.header {
    width: 100%;
    min-height: 66px;
    margin: 0;
    background-color: $blue;
}

.btn-menu{
    display: none;
    @media screen and (max-width:576px){
        display: inline-block;
    }
}

.hr{
    border-bottom: 1px solid $grey;
}

.fa-bars{
    margin-right: 10px;
}

.logo-container {
    width: 177px;
    height: 36px;
    background-image: url(../../images/logo.png);
    @media screen and (max-width: 576px){
        background-size: contain;
        background-repeat: no-repeat;
        height: 40px;
    }
}

i {
    display: flex;
    align-content: center;
    justify-content: center;

    border-radius: 4px;

    font-size: 20px;
}


i.fa-facebook-f {
    background-color: $mid-blue;
    color: $white;
}

i.fa-twitter {
    background-color: $light-blue;
    color: $white;
}

i.fa-rss {
    background-color: $orange;
    color: $white;
}

i.fa-envelope {
    background-color: $light-grey;
    color: $white;
}

.social i{
    display: flex;
    align-items: center;

    margin: 0 2px;
    width: 39px;
    height: 39px;
    cursor: pointer;
}

.social-count {
    padding: 0 10px;
    color: $white;
    text-align: center;

    span {
        font-size: 16px;
        line-height: 20px;
    }
}

.search-bar {
    width: 376px;
    height: 39px;
    border-radius: 4px;
    background-color: $dark-blue;
    padding: 13px 16px 12px;

    .fa-search {
        font-size: 14px;
        color: $light-blue;
    }

    .form-control {
        background: none;
        border: none;
        color: $white;
    }

    @media screen and (max-width: 576px){
        width: auto;
        background-color: inherit;
    }
}

.saves {
    padding-right: 15px;
    border-right: 1px solid $light-grey;
    
    @media screen and (max-width: 576px){
        padding-right: 0;
        border-right: none;
    }
}

.account {
    padding-left: 15px;
}

.saves,
.account {
    line-height: 1;
    color: $light-grey;
    cursor: pointer;

    .fa {
        display: inline;
        font-size: 14px;
        padding-right: 5px;
    }

    @media screen and (max-width: 576px){
        color: $light-blue;
    }
}
