@import "variables";


.menu-btn{
    font-size: 16px;
}

@media screen and (max-width: 576px){
    .hide-navbar{
        height: 0 !important;
    }
}


.main-navbar {
    margin: 0;

    background-color: $blue;
    
    .navbar-collapse{
        transition: 0.6s;

        @media screen and (max-width: 576px) {
            height: 250px;
        }
    }

    .nav-item {
        margin-right: 25px;
        white-space: nowrap;

        .nav-link {
            color: $white;
            font-size: 16px;
        }

        &.active,
        &:focus,
        &:hover {
            .nav-link {
                color: $light-blue;
            }
        }
    }

    @media screen and (max-width: 576px) {
        .navbar{
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}


