.table-left{
    display: flex;
    flex-direction: row;
}

.table-right{
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 576px){
    .table-left{
        display: block;
    }
    
    .table-right{
        margin-top: 2em;
        margin-bottom: 2em;
        display: block;
   }

   .currency-table{
       margin: 0 auto !important;
   }
}

.currency-table{
    width: 367px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    
    thead{
        th{
            line-height: 60px;
        }
    }

    th{
        width: 100%;
        max-width: 100%;
        background-color: #f2f5f7;
        color: #9ea6ab
    }

    th{
        width: 100%;
    }

    tbody{
        tr{
            background-color: #ffffff;
            line-height: 36px;
            &:nth-child(2n){
                background-color: #fafbfc;
            }
        }

        td{
            font-weight: bold;
        }

        .from-currency{
            color: #1cb7eb;
            text-decoration: underline;
        }
    }

    margin: 2em 0;
}