@import "variables";


.nav-tabs {
    width: 100%;

    .nav-item {
        width: 33.33%;
        border-top: 1px solid $light-grey;
        .nav-link {
            display: flex;
            justify-content: space-between;
            background-color: $body-bg;
            border-radius: 0;
            border: none;
            border-right: 1px solid $light-grey;
            .fa {
                color: $light-blue;
                font-size: 12px;
                line-height: 20px;
            }

            .fa-chevron-up {
                display: none;
            }

            &.active {
                background-color: $white;
                border: none;

                .fa {
                    color: $blue;
                }

                .fa-chevron-up {
                    display: block;
                }
            }
        }

        &:first-of-type{
            + .nav-link.active {
                border-right: none;
            }
        }

        &:last-of-type{ 
            .nav-link{
                border-right: none;
            }
        }
    }

    a {
        cursor: pointer;
    }
}

.tab-content{
    margin: 0 auto;
}
